DATABASE_HOST=
DATABASE_PORT=3306
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=
PORT=8000
DEBUG=False

SERVER_NAME="Just Another Chatfic Server"
SERVER_SLUG=myserver
SERVER_URL=mychatficserver.com
SERVER_NSFW=False
