DATABASE_HOST=
DATABASE_PORT=3306
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=
PORT=8000
DEBUG=False

SERVER_NAME="Just Another"
SERVER_SLUG=myserver
SERVER_URL=mychatficserver.com
SERVER_NSFW=False
SUBMIT_URL="https://forms.gle/...."

THEME_MODE=light
THEME_COLOR_PRIMARY="#00AA8C"

S3_LINK="https://....amazonaws.com"

SHOW_PUBLISHED_ONLY=True