DATABASE_HOST=
DATABASE_PORT=3306
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=
PORT=8000
DEBUG=False

CHATFICDB_SECRET_KEY=

SERVER_NAME="Just Another"
SERVER_SLUG=myserver
SERVER_URL=mychatficserver.com
SERVER_NSFW=False
SUBMIT_URL="https://forms.gle/...."

THEME_MODE=light
THEME_COLOR_PRIMARY="#00AA8C"

S3_LINK="https://....amazonaws.com"
S3_BUCKET=mybucketname
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-2
AWS_S3_SIGNATURE_VERSION="s3v4"

SHOW_PUBLISHED_ONLY=True

CONTACT_NAME="John Doe"
CONTACT_URL="https://example.com"
CONTACT_EMAIL="your_email@example.com"